<form #nuevoAfp="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">{{afp.accion=="U"?'Actualizar':'Nuevo'}} Registro Aportacion Fondo Pension</h5>
    </div>
    <div class="modal-body">
        <div class="col-12 row" style="margin: 0;">
            <div class="col-6 mt-3 mb-3" style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px;flex: 0 0 48%; margin: 0 7px 0 0;">
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="nomafp">Nombre AFP</label>
                        <input *ngIf="!onp" class="form-control form-control-sm" type="text" id="nomafp" name="#afp.descripcion" [(ngModel)]="afp.descripcion" maxlength="25" required>
                        <input *ngIf="onp" disabled class="form-control form-control-sm" type="text" name="#afp.descripcion" [(ngModel)]="afp.descripcion">
                    </div>
                </div>
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="afp">Aporte Fondo Pensiones</label>
                        <input class="form-control form-control-sm" type="number" id="afp" name="#afp.apoOblFndPen" [(ngModel)]="afp.apoOblFndPen" (keypress)="verificarNumero($event)" required>
                    </div>
                </div>
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="prs">Prima de Seguros</label>
                        <input class="form-control form-control-sm" type="number" id="prs" name="#afp.primaSeguro" [(ngModel)]="afp.primaSeguro" (keypress)="verificarNumero($event)" required>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-3 mb-3" style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px;flex: 0 0 48%; margin: 0 0 0 7px;">
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="coms">Comision Sobre Flujo</label>
                        <input class="form-control form-control-sm" type="number" id="coms" name="#afp.comSobFlu" [(ngModel)]="afp.comSobFlu" (keypress)="verificarNumero($event)" required>
                    </div>
                </div>
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="comsf">Comision Sobre Flujo Mixto</label>
                        <input class="form-control form-control-sm" type="number" id="comsf" name="#afp.comSobFluMix" [(ngModel)]="afp.comSobFluMix" (keypress)="verificarNumero($event)" required>
                    </div>
                </div>
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="comasa">Comision Anual Sobre Saldo</label>
                        <input class="form-control form-control-sm" type="number" id="comasa" name="#afp.comAnuSobSal" [(ngModel)]="afp.comAnuSobSal" (keypress)="verificarNumero($event)" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="confirmarSistPension()" [disabled]="nuevoAfp.form.invalid" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>