<div class="modal-body">
    <div class="col-12"
        style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px; flex: 0 0 98%; margin: 10px 5px;">
        <div class="col-12 row" style="margin: 0;">
            <div class="form-group col-8 mb-3">
                <h5 class="modal-title">Solicitudes de adelanto de sueldo : </h5>
            </div>
        </div>
        <div *ngIf="lsAdeSue?.length == 0" style="padding: 10px 0px;">
            <div style="text-align: center; font-size: 18px; margin: 0px 10px ;padding:10px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                No cuenta con solicitudes de adelando de sueldo
            </div>
        </div>
        <div *ngIf="lsAdeSue?.length > 0" class="table-responsive">
            <div class="card example-2 square scrollbar-cyan bordered-cyan" style="overflow-x: hidden;">
                <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                    <thead style="background: #ebeff5;">
                        <tr>
                            <th class="text-center" colspan="2">Tipo</th>
                            <th class="text-center">Monto Total</th>
                            <th class="text-center">Cuotas</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Fecha Solicitud</th>
                            <th class="text-center">Archivo</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let adeSueldo of lsAdeSue" align="center">
                        <tr style="font-size: 12px">
                            <td class="text-center" style="padding: 10px  0px 0px 0px">
                                <a *ngIf="adeSueldo.expanded" (click)="adeSueldo.expanded = false;"
                                    class="efecctrotatecont">
                                    <i class="mdi mdi-arrow-up-drop-circle efecctrotate"
                                        style="font-size: 23px; cursor: pointer;"></i>
                                </a>
                                <a *ngIf="!adeSueldo.expanded"
                                    (click)="adeSueldo.expanded = true; listarNroCuotas(adeSueldo)"
                                    class="efecctrotatecont">
                                    <i class="mdi mdi-arrow-down-drop-circle efecctrotate"
                                        style="font-size: 23px; cursor: pointer;"></i>
                                </a>
                            </td>
                            <td style="padding-top: 15px">{{adeSueldo.tipo==1?'Proporcional':'Emergencia'}}</td>
                            <td style="padding-top: 15px">{{adeSueldo.montoTotal.toFixed(2)}}</td>
                            <td style="padding-top: 15px">{{adeSueldo.nroCuotas}}</td>
                            <td style="padding-top: 6px; padding-bottom: 4px;"
                                *ngIf="adeSueldo.estado==0 && adeSueldo.nombreArchivo==undefined"> <i
                                    class="mdi mdi-emoticon-neutral" aria-hidden="true"
                                    style="font-size: 30px; color: #ff0000;"></i></td>
                            <td style="padding-top: 6px; padding-bottom: 4px;"
                                *ngIf="adeSueldo.estado==0 && adeSueldo.nombreArchivo!=undefined"> <i
                                    class="mdi mdi-emoticon-neutral" aria-hidden="true"
                                    style="font-size: 30px; color: #f3ff00;"></i></td>
                            <td style="padding-top: 6px; padding-bottom: 4px;"
                                *ngIf="adeSueldo.estado==1 && adeSueldo.nombreArchivo==undefined"> <i
                                    class="mdi mdi-emoticon" aria-hidden="true"
                                    style="font-size: 30px; color: #ff8500 ;"></i></td>
                            <td style="padding-top: 6px; padding-bottom: 4px;"
                                *ngIf="adeSueldo.estado==1 && adeSueldo.nombreArchivo!=undefined"> <i
                                    class="mdi mdi-emoticon" aria-hidden="true"
                                    style="font-size: 30px; color: #02ff00 ;"></i></td>
                            <!-- <td *ngIf="adeSueldo.estado==0"> <i class="mdi mdi-emoticon-neutral" aria-hidden="true" style="cursor: pointer; font-size: 23px; color: #F1E00D;"></i></td>
                        <td *ngIf="adeSueldo.estado==1"> <i class="mdi mdi-emoticon" aria-hidden="true" style="cursor: pointer; font-size: 23px; color: #19E422 ;"></i></td> -->
                            <td style="padding-top: 15px">{{adeSueldo.fechaSol | date :'dd-MM-yyyy'}}</td>
                            <td style="padding-top:8px; padding-bottom: 0px;" class="text-center"
                                *ngIf="adeSueldo.nombreArchivo==undefined">
                                <i class="mdi mdi-cloud-upload parpadea" aria-hidden="true" style="font-size: 25px"></i>
                                <input type="file" (change)="subirArchivo($event, adeSueldo)"
                                    accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword"
                                    class="form-control form-control-sm"
                                    style="cursor: pointer; width:9%; position:absolute; height:28px; left:0px; opacity:0; transform: translateX(440px)">
                            </td>
                            <td style="padding-top:8px; padding-bottom: 0px;" class="text-center"
                                *ngIf="adeSueldo.nombreArchivo!=undefined">
                                <i class="mdi mdi-cloud-upload" aria-hidden="true"
                                    style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </tr>
                        <tr *ngIf="adeSueldo.expanded" style="font-size: 12px">
                            <td colspan="7">
                                <div class="form-row col-12" style="margin: 0 auto;">
                                    <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                                        <thead style="background: #ebeff5;">
                                            <tr>
                                                <th class="text-center">Mes</th>
                                                <th class="text-center">Año</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-center">Monto Mensual</th>
                                            </tr>
                                        </thead>
                                        <tbody align="center">
                                            <tr style="font-size: 12px" *ngFor="let cuota of adeSueldo.lscuotas">
                                                <td>{{cuota.pdoMes.descripcion}}</td>
                                                <td>{{cuota.pdoAno.descripcion}}</td>
                                                <td style="padding: 4px 0px 0px 0px;" *ngIf="cuota.estado==0"> <i
                                                        class="mdi mdi-emoticon-neutral" aria-hidden="true"
                                                        style="cursor: pointer; font-size: 25px; color: #ffd800;"></i>
                                                </td>
                                                <td style="padding: 4px 0px 0px 0px;" *ngIf="cuota.estado==1"> <i
                                                        class="mdi mdi-emoticon" aria-hidden="true"
                                                        style="cursor: pointer; font-size: 25px; color: #19E422 ;"></i>
                                                </td>
                                                <td>{{cuota.montoCuota.toFixed(2)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>