<form #formTipPlan="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">{{input_tipPlan==null?'Registrar':'Modificar'}} Tipo Planilla</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-6 mb-3">
                    <label for="descripcion">Descripcion:</label>
                    <input class="form-control form-control-sm" type="text" id="descripcion" [(ngModel)]="tipoPlanilla.descripcion" name="#tipoPlanilla.descripcion" required>
                </div>
                <div class="col-6 mb-3">
                    <label for="tipcat">Tipo Categoria :</label>
                    <ng-select [items]="lsTipoCategoria" bindLabel="descripcion" bindValue="id" [(ngModel)]="categoriaPlanilla" (ngModelChange)="mostrarMsj($event)" name="#categoriaPlanilla" placeholder="Seleccione un tipo de categoria" id="tipcat" style="width: 100%; margin-right: 10px;"
                        required></ng-select>
                </div>

                <div class="col-12" *ngIf="input_tipPlan==null">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">¿Puede ver?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 12px" *ngFor="let perfil of lsPerfiles">
                                    <td>{{perfil.nombres}}</td>
                                    <td class="text-center" *ngIf="perfil.ambito==0">
                                        <i class="mdi mdi-eye-off" aria-hidden="true" (click)="ver(perfil)" style="cursor: pointer; font-size: 25px;"></i>
                                    </td>
                                    <td class="text-center" *ngIf="perfil.ambito==1">
                                        <i class="mdi mdi-eye" aria-hidden="true" (click)="ver(perfil)" style="cursor: pointer; font-size: 25px; color: #3EBC1E;"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button type="button" id="close" (click)="close()" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button type="button" id="confirmar" (click)="confirmar()" [disabled]="formTipPlan.form.invalid" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Confirmar</button>
    </div>
</form>
