<form #nuevoSctr="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">{{sctr.accion=="U"?'Actualizar':'Registrar'}} SCTR</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="nomcat">Nombre SCTR</label>
                    <input [(ngModel)]="sctr.descripcion" class="form-control form-control-sm" type="text" id="nomcat" name="#sctr.descripcion" required>
                </div>
            </div>
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="cate">Tipo</label>
                    <ng-select [items]="lsTipo" bindLabel="descripcion" bindValue="idTipo" placeholder="Seleccione Tipo" id="cate" [(ngModel)]="sctr.tipo" name="#sctr.tipo" style="width: 100%; margin-right: 10px;" required></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="confirmarNuevoSctr()" [disabled]="nuevoSctr.form.invalid" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>