<hr>
<div class="col-12 row" style="margin: 0;">
    <div class="form-group col-6 mb-3">
        <button class="btn btn-sm btn-info" (click)="crearSctr()" style="width: 23%; border-radius: 28px;">Nuevo SCTR</button>
    </div>
</div>
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Nombre SCTR</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Actualizar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 12px" *ngFor="let sctr of listSctr">
                    <td *ngIf="sctr.tipo != 0">{{sctr.descripcion}}</td>
                    <td class="text-center" *ngIf="sctr.tipo != 0">{{sctr.tipo==1?'SALUD':sctr.tipo==2?'PENSION':'NIGUNO'}}</td>
                    <td class="text-center" *ngIf="sctr.tipo != 0">
                        <i class="mdi mdi-pencil" aria-hidden="true" (click)="actualizarSctr(sctr)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center" *ngIf="sctr.tipo != 0">
                        <i class="mdi mdi-delete" aria-hidden="true" (click)=eliminarSctr(sctr) style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>