<!-- Inicio Header -->
<div class="modal-header">
    <h3>Confirmar añadir postulante</h3>
</div>
<!-- Fin Header -->

<!-- Inicio Body -->
<div class="modal-body">
    <br>
    <h4>¿Está seguro de añadir postulante al proceso?</h4>
    <br>
</div>
<!-- Fin Boby -->

<!-- Inicio Footer -->
<div class="modal-footer">
    <button (click)="closer()" id="cerrar" type="button " class="btn btn-danger btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
    <button (click)="confirmar()" type="button " id="confirmar" class="btn btn-info btn-sm min " style="margin: 0px 5px; ">Confirmar</button>
</div>
<!-- Fin Footer -->