<div class="modal-body">
    <div class="col-12" style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px; flex: 0 0 98%; margin: 10px 5px;">
        <div class="col-12 row" style="margin: 0;">
            <div class="form-group col-7 mb-3" style="margin-top: 10px;">
                <h4 class="modal-title">Cuentas Cargo</h4>
            </div>
            <div class="form-group col-5 mb-3">
                <button class="btn btn-sm btn-info" (click)="registrarCuentaCargo()" style="width: auto; border-radius: 28px;">Nueva Cuenta Cargo</button>
            </div>
        </div>
        <div *ngIf="lsCuentaCargo?.length == 0" style="padding: 30px 0px;">
            <div style="text-align: center; font-size: 18px; margin: 0px 50px ;padding:10px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                No cuenta con cuentas cargo registradas
            </div>
        </div>
        <div *ngIf="lsCuentaCargo?.length > 0" class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                <thead style="background: #ebeff5;">
                    <tr>
                        <th class="text-center">Descripcion</th>
                        <th class="text-center">Nro Cuenta</th>
                        <th class="text-center">Tipo Cuenta</th>
                        <th class="text-center">Tipo Moneda</th>
                        <th class="text-center">Banco</th>
                        <th class="text-center">Actulizar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 12px" *ngFor="let cueCargo of lsCuentaCargo">
                        <td>{{cueCargo.descripcion}}</td>
                        <td>{{cueCargo.nroCuenta}}</td>
                        <td>{{cueCargo.tipoCuenta==1?'MAESTRA':'CORRIENTE'}}</td>
                        <td>{{cueCargo.tipoMoneda==1?'SOLES (S/)':'DOLARES ($)'}}</td>
                        <td>{{cueCargo.banco.descripcion}}</td>
                        <td class="text-center">
                            <i class="mdi mdi-pencil" (click)="modificarCuentaCargo(cueCargo)" aria-hidden="true" style="cursor: pointer; font-size: 23px;"></i>
                        </td>
                        <td class="text-center">
                            <i class="mdi mdi-delete" (click)="eliminarCuentaCargo(cueCargo)" aria-hidden="true" style="cursor: pointer; font-size: 23px;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>