<div class="modal-header">
    <h5 class="modal-title">Gestion de Asistencias de {{objTrabajadorContrato.trabajador.apePater}} {{objTrabajadorContrato.trabajador.apeMater}} {{objTrabajadorContrato.trabajador.nombres}}</h5>
    <h3 class="modal-title">PERIODO {{mes.descripcion}} - {{ano.descripcion}}</h3>
</div>
<div *ngIf="lsTrabAsistencias?.length==0" style="padding: 30px 0px;">
    <br>
    <div style="text-align: center; font-size: 18px; margin: 0px 50px ;padding:10px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
         No cuenta con registro de asistencias para el periodo seleccionado
    </div>
</div>

<div *ngIf="lsTrabAsistencias?.length>0" class="modal-body">
    <div class="card example-1 square scrollbar-cyan bordered-cyan">
        <div class="card-body">
            
            <div  class="table-responsive">
                <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                    <thead style="background: #ebeff5;">
                        <tr>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Hora de Ingreso</th>
                            <th class="text-center">Hora de Salida</th>
                            <th class="text-center">Hora de Inicio Almuerzo</th>
                            <th class="text-center">Hora de Fin Almuerzo</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="font-size: 12px" *ngFor="let asistencia of lsTrabAsistencias">
                            <td class="text-center">{{asistencia.fecha | date: 'fullDate'}}</td>
                            <td class="text-center">{{asistencia.horIniDia | date:'h:mm a'}}</td>
                            <td class="text-center">{{asistencia.horFinDia | date:'h:mm a'}}</td>
                            <td class="text-center">{{asistencia.horIniAlmu | date:'h:mm a'}}</td>
                            <td class="text-center">{{asistencia.horFinAlmu | date:'h:mm a'}}</td>
                            <td class="text-center">
                                <i class="mdi mdi-pencil" id="actAsist" (click)="actualizarAsistencia(asistencia)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                            <td class="text-center">
                                <i class="mdi mdi-delete" id="elmAsist" (click)="eliminarAsistencia(asistencia)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="nuevo" class="btn btn-info btn-sm min " (click)="nuevaAsistencia()" style="margin: 0px 5px; ">Registrar Asistencia</button>
    <button (click)="close()" id="cerrar" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>