<form #nuevoAno="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">Registrar Año</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="nomcar">Nombre Año</label>
                    <input class="form-control form-control-sm" type="number" id="nomano" value="" [(ngModel)]="ano.descripcion" name="#ano.descripcion" (keypress)="verificarNumero($event)" (blur)="verificarAno(ano.descripcion)" pattern="[0-9]{4}" required>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px; cursor: pointer;">Cancelar</button>
        <button (click)="confirmarNuevoAno()" type="button" class="btn btn-info btn-sm min" [disabled]="nuevoAno.form.invalid" style="margin: 0px 5px; cursor: pointer;">Continuar</button>
    </div>
</form>