<div class="modal-header">
    <h5 class="modal-title">Vacaciones generadas para {{objTrabajadorContrato.trabajador.apePater}} {{objTrabajadorContrato.trabajador.apeMater}} {{objTrabajadorContrato.trabajador.nombres}}</h5>
</div>
<div *ngIf="lsPeriodoVaca?.length==0" style="padding: 30px 0px;">
    <div style="text-align: center; font-size: 18px; margin: 0px 50px ;padding:10px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
         No cuenta con registro de vacaciones
    </div>
</div>
<div *ngIf="lsPeriodoVaca?.length>0" class="modal-body">
    <div class="card example-1 square scrollbar-cyan bordered-cyan">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                    <thead style="background: #ebeff5;">
                        <tr>
                            <th class="text-center">Inicio Periodo</th>
                            <th class="text-center">Fin Periodo</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Dias Tomados</th>
                            <th class="text-center">Dias Vendidos</th>
                            <th class="text-center">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="font-size: 12px" *ngFor="let vaca of lsPeriodoVaca">
                            <td class="text-center">{{vaca.fechaIni | date: 'fullDate'}}</td>
                            <td class="text-center">{{vaca.fechaFin | date: 'fullDate'}}</td>
                            <td class="text-center">{{vaca.estado==0?'TOMADO':vaca.estado==1?'HABILITADO':vaca.estado==2?'HABILITADO PARCIAL': vaca.estado==3?'ADELANTO COMPLETO':'ADELANTO PARCIAL'}}</td>
                            <td class="text-center">{{vaca.diasTomados}}</td>
                            <td class="text-center">{{vaca.diasVendidos}}</td>
                            <td class="text-center">
                                <div *ngIf="vaca.estado==0 || vaca.estado==3; else btn">
                                    <p class="text-center font-16 text-info">¡Ya no quedan dias disponibles!</p>
                                </div>
                                <ng-template #btn>
                                    <button class="btn btn-primary" (click)="nuevaAccion(vaca)">{{objTrabajadorContrato.accion=='T'?'Tomar Vacaciones':
                                        objTrabajadorContrato.accion=='V'?'Vender Vacaciones':'Adelantar Vacaciones'}}</button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>