<form #trabRemuDsct="ngForm" ngNativeValidate>
    <div class="modal-header" style="padding: 10px 60px;">
        <h5 class="modal-title" style="font-size: 15px;">Agregar {{trabajador.accion=='R'?'Remuneracion':'Descuento'}}</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mt-lg-2 mb-2" style="padding: 0 15%;" *ngIf="trabajador.accion=='R'">
                    <label for=" remu ">Remuneracion: </label>
                    <ng-select [items]="lsRemu " bindLabel="descripcion" bindValue="idRemuneraciones" [(ngModel)]="idRemu" (ngModelChange)="activarBtn($event)" name="#idRemu" placeholder="Seleccione una remuneracion " id="remu" style="width: 100%;" required></ng-select>
                </div>
                <div class="col-12 mt-lg-2 mb-2 " style="padding: 0 15%;" *ngIf="trabajador.accion=='D'">
                    <label for="dsct">Descuento: </label>
                    <ng-select [items]="lsDsct" bindLabel="descripcion" bindValue="idDescuentos" [(ngModel)]="idDsct" (ngModelChange)="activarBtn($event)" name="#idDsct" placeholder="Seleccione un descuento" id="dsct" style="width: 100%;" required></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button type="button" (click)="close()" class="btn btn-danger btn-sm min" style="margin: 0px 5px; ">Cancelar</button>
        <button type="button" [disabled]="activarBoton" (click)="agregar()" class="btn btn-info btn-sm min" style="margin: 0px 5px; ">Agregar</button>
    </div>