<form #formPaginas="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">Gestion páginas - {{perfil.nombres}}</h5>
    </div>
    <div class="modal-body">
        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Pagina</th>
                    <th class="text-center">¿Visible?</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 12px" *ngFor="let pag of lsPaginas; let i = index">
                    <td style="padding-left: 90px;">
                        <i class={{pag.icono}} id="editar" aria-hidden="true" style="cursor: pointer; font-size: 25px; margin-right: 5px;"></i>
                        <label class="form-control-label">{{pag.descripcion}}</label>
                    </td>
                    <td class="text-center">
                        <input class="form-check-input" type="checkbox" (click)="cambiarAsignado(i)" name="checkVisible" id="input{{i}}" required>
                        <label class="form-check-label" for="input{{i}}"></label>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="guardarGestion()" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>