<div class="modal-header" style="padding: 10px 50px;">
    <h5 class="modal-title" style="font-size: 15px; margin: auto; ">{{input_trabRemDsct.accion == "DBR"?'Dar de Baja':input_trabRemDsct.accion == "DBD"?'Dar de Baja':' Activar'}}</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-row col-12">
            <div class="col-12 mb-3 mt-3">
                <h4 style="text-align: center; font-size: 16px;">¿Desea {{input_trabRemDsct.accion == "DBR"?'dar de baja':input_trabRemDsct.accion == "DBD"?'dar de baja':'activar'}} {{input_trabRemDsct.accion=="DBR"?'la Remuneracion':input_trabRemDsct.accion == "AR"?'la Remuneracion':'el Descuento'}}?</h4>
            </div>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" type="button " class="btn btn-danger btn-sm min" style="margin: 0px 5px; ">Cancelar</button>
    <button (click)="accion()" type="button " class="btn btn-info btn-sm min" style="margin: 0px 5px; ">{{input_trabRemDsct.accion == "DBR"?'Dar Baja':input_trabRemDsct.accion == "DBD"?'Dar Baja':'Activar'}}</button>
</div>