<div class="modal-header">
    <h5 class="modal-title">Gestión huella digital</h5>
</div>
<div class="modal-body">
    <div class="row" >
        <div class="container form-row col-12">
            <div class="justify-content-center" style="margin: auto;">
                <div>
                    <h4 class="modal-title" style="text-align: center;">Ingrese su indice derecho</h4>
                </div>
                <div class="col-12" style="height: 300px;">
                    <img height="290"
                    src="https://media.istockphoto.com/photos/real-fingerprint-super-macro-picture-id178372766"
                    alt="">
                </div>
                <div>
                    <button id="enroll" type="button" class="btn btn-info btn-sm " style=" width: 100%; font-size: 15px;">Guardar</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" id="cerrar" type="button " class="btn btn-danger btn-sm min"
        style="margin: 0px 5px; ">Cerrar</button>
</div>