<div id="main-wrapper">
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <app-breadcrumbs></app-breadcrumbs>

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <hr>
            <div class="col-12 m-3 pt-4">
                <div class="row">
                    <div class="col-4" *ngFor="let menu of lsmenu">
                        <div class="card " style="border:1px solid #d6d6d6; border-radius: 15px; ">
                            <div class="card-header frost-theme " style="border-top-left-radius: 15px;border-top-right-radius: 15px; ">
                                <i class="{{menu.icono}} text-white " style="font-size: 30px; "></i>
                                <span class="card-title text-white " style="font-size: 20px; font-weight: bold; margin-left: 20px ">{{menu.descripcion}}</span>
                            </div>
                            <div class="card-body ">
                                <p class="card-text font-18" *ngIf="menu.orden == 1">Modulo para la gestion de cuentas de usuarios y roles.</p>
                                <p class="card-text font-18" *ngIf="menu.orden == 2">Modulo para la gestion de los trabajadores, registro, asistencias, derechos, etc.</p>
                                <p class="card-text font-18" *ngIf="menu.orden == 3">Modulo para la gestion de boletas, cuestiones de sueldo y vacaciones.</p>
                                <p class="card-text font-18" *ngIf="menu.orden == 4">Modulo para la gestion de la contabilidad.</p>
                                <p class="card-text font-18" *ngIf="menu.orden == 5">Modulo para la creacion de empresas y sus distintos elementos necesarios para registrar Trabajadores, asi como el manejo de parametros propios de cada empresa, fechas, y servicios terceros.</p>
                                <ul class="list-group list-group-flush">
                                    <div *ngFor="let pagina of menu.lspagina">
                                        <li class="list-group-item ">■
                                            <a [routerLink]="[pagina.url] " class="card-link pl-2 font-16 ">{{pagina.descripcion}}</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->

            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->


    </div>
    <!-- ============================================================== -->
    <!-- END Page wrapper  -->
    <!-- ============================================================== -->
</div>
