<form #nuevoPass="ngForm" ngNativeValidate>

    <div class="modal-header">
        <h2 class="modal-title text-center">Nueva Contraseña</h2>
    </div>
    <div class="modal-body">
        <div class="col-12 mr-3" style="border:1px solid #d6d6d6; border-radius: 15px; padding:20px 20px;">
            <div class="form-row col-12 mb-3" style="padding-top:10px;">
                <label for="anpass">Antigua Contraseña</label>
                <input class="form-control form-control-sm" type="password" id="anpass" name="#oldpass" [(ngModel)]="oldpass" required>
            </div>
            <div class="form-row col-12 mb-3" style="padding-top:10px;">
                <label for="pass">Nueva Contraseña</label>
                <input class="form-control form-control-sm" type="password" id="pass" name="#usuario.password" [(ngModel)]="usuario.password" (ngModelChange)="verificarContrasena($event)" required>
            </div>
            <div class="form-row col-12 mb-3" style="padding-top:10px;">
                <label for="conpass">Confirmar Contraseña:</label>
                <input class="form-control form-control-sm" type="password" id="conpass" name="#confirm" [(ngModel)]="confirm" (ngModelChange)="verificarContrasena($event)" required>
            </div>
            <div class="form-row col-12 align-content-center" *ngIf="!validar">
                <label class="text-danger">!Las contraseñas no coindicen¡</label>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" id="cerrar" type="button " class="btn btn-danger btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
        <button (click)="confirmarNuevoPass()" id="confirmar" type="button" id="confirmar" class="btn btn-info btn-sm min " *ngIf="nuevoPass.form.valid && validar" style="margin: 0px 5px; ">Continuar</button>
    </div>
</form>