<hr>
<div [hidden]="empresa.idEmpresa!=null">
    <div style="text-align: center; font-size: 22px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
        Seleccione una empresa
    </div>
</div>
<div class="col-12 row" style="margin: 0;" *ngIf="empresa.idEmpresa">
    <div class="form-group col-6 mb-3">
        <button class="btn btn-sm btn-info" (click)="crearAreaDepartamentoEmpresa()" style="width: auto; border-radius: 28px;">Nueva Area</button>
    </div>
</div>
<div [hidden]="empresa.idEmpresa==null" class="col-12">
    <div [hidden]="listAreaDepEmp?.length > 0">
        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
            No hay ninguna Area de Departamento Empresa registrada
        </div>
    </div>
    <div [hidden]="listAreaDepEmp?.length == 0" class="table-responsive">
        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Departamento</th>
                    <th class="text-center">Actualizar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 12px" *ngFor="let areaDepEmpr of listAreaDepEmp">
                    <td>{{areaDepEmpr.snombre}}</td>
                    <td>{{areaDepEmpr.departamentoEmpresa.snombre}}</td>
                    <td class="text-center">
                        <i class="mdi mdi-pencil" aria-hidden="true" (click)="actualizarAreaDepartamentoEmpresa(areaDepEmpr)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center">
                        <i class="mdi mdi-delete" aria-hidden="true" (click)=eliminarAreaDepartamentoEmpresa(areaDepEmpr) style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>