<!-- <div class="modal-header">
    <h5 class="modal-title">Visualización de solicitud</h5>
</div>
<div class="tab-content">
    <div class="col-12">
        <br>
        <p>Puesto del recurso:</p>
        <p>Banda:</p>
        <p>Motivos:</p>
    </div>
</div> -->

<form  #visualizarSolicitud="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">Visualización de solicitud</h5>
    </div>
    <div class="modal-body">
        <div class="form-group row">            
                <label for="nompuestorecurso" class="col-sm-3 col-form-label">Puesto del Recurso:</label>
                <div class="col-sm-7">
                    <input [(ngModel)]="solicitud.puesto.snombre" class="form-control form-control-sm" type="text" id="nompuestorecurso" name="#solicitud.puesto.snombre" maxlength="50" readonly>
                </div>            
        </div>
        <div class="form-group row">
            <!-- <div class="col-12 mb-3"> -->
                <label for="banda" class="col-sm-3 col-form-label">Banda:</label>
                <div class="col-sm-7">
                    <input [(ngModel)]="solicitud.dbanda" class="form-control form-control-sm" type="text" id="banda" name="#solicitud.dbanda" maxlength="50" readonly>
                </div>
            <!-- </div> -->
        </div>
        <div class="form-group row">
            <!-- <div class="col-12 mb-3"> -->
                <label for="motivos" class="col-sm-3 col-form-label">Motivos:</label>
                <div class="col-sm-7">
                    <textarea [(ngModel)]="solicitud.smotivos" class="form-control form-control-sm" type="text" id="motivos" name="#solicitud.smotivos" maxlength="50" readonly></textarea>
                </div>            
            <!-- </div> -->
        </div>

    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
        <button (click)="rechazarSolicitud(solicitud)" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Rechazar</button>
        <button (click)="aprobarSolicitud(solicitud)" type="button" class="btn btn-success btn-sm min" style="margin: 0px 5px;">Aprobar</button>

    </div>    
</form>

