<form #nuevaVentaVaca="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">Registrar nueva Venta de vacaciones</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="desc">Cantidad de Dias disponibles a vender</label>
                    <div class="qty mt-1 " style="text-align: center;">
                        <button (click)="disminuir()" *ngIf="diasVendidos>0" class="minus bg-primary">-</button>
                        <input type="number" style="border: 0; width: 2%;" class="count" name="qty" [(ngModel)]="diasVendidos" disabled>
                        <button (click)="aumentar()" *ngIf="diasVendidos<disponibles" class="plus bg-primary">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="confirmarVentaVaca()" type="button" [disabled]="nuevaVentaVaca.form.invalid" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>