<form #formEmpresa="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">{{empresa.accion=="U"?'Actualizar':'Registrar'}} Empresa</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="cuecargo">Seleccione Cuenta Cargo :</label>
                    <ng-select [items]="lsCuentaCargo" bindLabel="descripcion" bindValue="idCuentaCargo" placeholder="Seleccione Cuenta Cargo" id="cuecargo" [(ngModel)]="idCuentaCargo" name="#idCuentaCargo" style="width: 100%; margin-right: 10px;" required></ng-select>
                </div>
                <div class="col-12 mb-3">
                    <label for="descr">Descripcion :</label>
                    <input class="form-control form-control-sm" type="text" id="descr" [(ngModel)]="descripcionRef" name="#descripcionRef" onclick="value='';" required>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="seleccionarTipo()" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>