<div class="modal-header">
    <h5 class="modal-title">Boletas de ultimos 5 meses</h5>
</div>
<div class="modal-body">
    <div class="row col-12" style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px;flex: 0 0 48%; margin: 10px 5px;">
        <div class="col-4 mb-3">
            <label for id="btnbus">Buscar planilla</label>
            <button (click)="buscar(ano,mes)" type="button" id="btnbus" class="btn btn-info btn-sm min" style="margin: 0px 5px; width: 150px; height: 30px;">Buscar</button>
        </div>
        <div class="col-4 mb-3">
            <label for="año">Año:</label>
            <ng-select style="width: 150px;" [items]="lsAno" bindLabel="descripcion" id="año" bindValue="idPdoAno" placeholder="seleccione" [(ngModel)]="ano.idPdoAno"></ng-select>
        </div>
        <div class="col-4 mb-3">
            <label for id="mes">Mes:</label>
            <ng-select style="width: 150px;" [items]="lsMeses" bindLabel="descripcion" id="mes" bindValue="idPdoMes" placeholder="seleccione" [(ngModel)]="mes.idPdoMes"></ng-select>
        </div>

    </div>
    <div class="col-12" style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px; flex: 0 0 98%; margin: 10px 5px;">
        <div class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                <thead style="background: #ebeff5;">
                    <tr>
                        <th class="text-center">Mes</th>
                        <th class="text-center">Año</th>
                        <th class="text-center">Boleta</th>
                        <th class="text-center">Eliminar</th>

                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 12px" *ngFor="let planilla of lsPlanilla">
                        <td>{{planilla.pdoMes.descripcion}}</td>
                        <td>{{planilla.pdoAno.descripcion}}</td>
                        <td class="text-center">
                            <i class="mdi mdi-eye" (click)="previsualizarPlanilla(planilla)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                        </td>
                        <td class="text-center">
                            <i class="mdi mdi-delete" (click)="eliminarPlanilla(planilla)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>