<div class="modal-header" style="padding: 10px 100px;">
    <h5 class="modal-title" style="font-size: 15px;">Confirmar</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-row col-12">
            <div class="col-12 mb-3 mt-3">
                <h4 style="text-align: center; font-size: 16px;">¿Desea guardar los cambios?</h4>
            </div>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" type="button " class="btn btn-danger btn-sm min" style="margin: 0px 5px; ">Cancelar</button>
    <button (click)="guardarGestion()" type="button " class="btn btn-info btn-sm min" style="margin: 0px 5px; ">Guardar</button>
</div>