<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar ">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" (click)="collapsePerfil()" [attr.aria-expanded]="openPerfil">
                        <!-- <img [src]="usuario.img | imagen:'usuario':usuario._id" alt="user" /> -->
                        <span class="hide-menu text-active" style="margin-right: 6px;">Usuario:</span>
                        <span class="hide-menu pl-4">{{token.username}}</span>
                    </a>
                    <a class="waves-effect waves-dark">
                        <!-- <img [src]="usuario.img | imagen:'usuario':usuario._id" alt="user" /> -->
                        <span class="hide-menu text-active" style="margin-right: 22px;">Perfil:</span>
                        <span class="hide-menu pl-4">{{token.nombre_perfil}}</span>
                    </a>
                    <a *ngIf="token.id_perfil!=1" class="waves-effect waves-dark">
                        <!-- <img [src]="usuario.img | imagen:'usuario':usuario._id" alt="user" /> -->
                        <span class="hide-menu  text-active">Empresa:</span>
                        <span class="hide-menu pl-4">{{token.empresa.razonSocial}}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse" [class.collapse]="openPerfil">
                        <li><a (click)="_usuarioService.logout()" class="pointer">Salir</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>



                <li *ngFor="let menu of lsmenu" [ngClass]="menu.open?'active':''">
                    <a class="has-arrow waves-effect waves-light " (click)="toggleCollapse(menu.idModulo)" [attr.aria-expanded]="menu.open">
                        <i [class]="menu.icono"></i>
                        <span class="hide-menu"> {{ menu.descripcion }}
                        </span>
                    </a>
                    <ul [class.collapse]="!menu.open" aria-expanded="false" class="collapse">

                        <li *ngFor="let submenu of menu.lspagina">
                            <a routerLinkActive="active" [routerLink]="[ submenu.url ]">
                                <i [class]="submenu.icono"></i>
                                <span class="pl-1"> {{ submenu.descripcion }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->