<form #formEnPlan="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">Nuevo Encargado Planilla</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="idTrabajador">Trabajador :</label>
                    <ng-select [items]="lsTrabajador" bindLabel="nombres" bindValue="idTrabajador" placeholder="Seleccione un trabajador" name="#idTrabajador" id="idTrabajador" [(ngModel)]="idTrabajador" style="width: 100%; margin-right: 10px;" required></ng-select>
                </div>
                <!-- <div class="col-11 mb-3">
                    <label for="nomep">Apellidos :</label>
                    <input class="form-control form-control-sm" type="text" maxlength="50" id="nomep" [(ngModel)]="encargadoPlan.apellido" name="#encargadoPlan.apellido" required>
                </div>
                <div class="col-11 mb-3">
                    <label for="apeep">Nombre :</label>
                    <input class="form-control form-control-sm" type="text" maxlength="50" id="apeep" [(ngModel)]="encargadoPlan.nombre" name="#encargadoPlan.nombre" required>
                </div>
                <div class="col-11 mb-3">
                    <label for="dniep">Nro DNI :</label>
                    <input class="form-control form-control-sm" type="number" id=" dniep " [(ngModel)]="encargadoPlan.nroDni " name="#encargadoPlan.nroDni" (keypress)="verificarNumero($event)" required>
                </div> -->
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close() " type="button " class="btn btn-danger btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
        <button (click)="registrarEncargadoPlan()" [disabled]="formEnPlan.form.invalid" type="button " class="btn btn-info btn-sm min " style="margin: 0px 5px; ">Registrar</button>
    </div>
</form>