<form #nuevoMes="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h5 class="modal-title">Actualizar Mes</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-4 mb-3">
                    <label for="nommes">Mes</label>
                    <input class="form-control form-control-sm" type="text" id="nommes" name="#mes.descripcion" [(ngModel)]="mes.descripcion" disabled>
                </div>
                <div class="col-4 mb-3">
                    <label for="abrev">Abreviatura</label>
                    <input class="form-control form-control-sm" type="text" id="abrev" name="#mes.abrev" [(ngModel)]="mes.abrev" disabled>
                </div>
                <div class="col-4 mb-3">
                    <label for="frdo">Dias feriados</label>
                    <input class="form-control form-control-sm" type="number" id="frdo" name="#mes.diasFeriadoCalend" [(ngModel)]="mes.diasFeriadoCalend" (keypress)="verificarNumero($event)" required>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="confirmarNuevoMes()" type="button" [disabled]="nuevoMes.form.invalid" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>