<hr>
<div [hidden]="empresa!=null" >
    <div style="text-align: center; font-size: 22px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
        Seleccione una empresa
    </div>
</div>
<div [hidden]="empresa==null" class="card-header" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 10px; margin-bottom: 20px;">
    <div class="col-12 row" style="margin: 0;">
        <div class="col-8" style="margin-bottom: 10px">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="SearchOptions" id="numDoc" (click)="checkAction(); filterPost=''" checked>
                <label class="form-check-label" for="numDoc" style="font-size: 12px">Buscar por Número Documento</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="SearchOptions" id="nomCmp" (click)="checkAction(); filterPost=''">
                <label class="form-check-label" for="nomCmp" style="font-size: 12px">Buscar por Nombre</label>
            </div>
            <br>
            <input class="form-control form-control-sm min" spellcheck="false" id="inputGeneral" type="text" [(ngModel)]="filterPost" placeholder="{{mostrarPH}}" style="width: 50%; border-radius: 28px">
        </div>
    </div>
</div>
<nav [hidden]="empresa==null">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-planilla-tab" data-toggle="tab" href="#nav-planilla" role="tab" aria-controls="nav-planilla" aria-selected="true">Planillas</a>
        <a class="nav-item nav-link" id="nav-honorario-tab" data-toggle="tab" href="#nav-honorario" role="tab" aria-controls="nav-honorario" aria-selected="false">Recibos Por Honorarios</a>
    </div>
</nav>
<div [hidden]="empresa==null" class="card-body" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 30px; margin-bottom: 20px;">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-planilla" role="tabpanel" aria-labelledby="nav-planilla-tab">
            <div class="col-12">
                <div [hidden]="lsTrabajadorPlanilla?.length > 0" >
                    <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                        No hay registro de trabajadores
                    </div>
                </div>
                <div [hidden]="lsTrabajadorPlanilla?.length == 0" class="table-responsive">
                    <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                        <thead style="background: #ebeff5;">
                            <tr>
                                <th class="text-center">Numero Documento</th>
                                <th class="text-center">Apellidos y Nombre</th>
                                <th class="text-center">Tomar Vacaciones</th>
                                <th class="text-center">Vender Vacaciones</th>
                                <th class="text-center">Adelantar Vacaciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let trab of lsTrabajadorPlanilla | filter :filterPost :filterBoolean">
                            <tr style="font-size: 12px ">
                                <td class="text-center">{{trab.trabajador.nroDoc}}</td>
                                <td>{{trab.trabajador.apePater}} {{trab.trabajador.apeMater}} {{trab.trabajador.nombres}}</td>
                                <td class="text-center ">
                                    <i class="mdi  mdi-calendar-check" (click)="mostrarPeriodosVacaTomar(trab)" aria-hidden="true" style="cursor: pointer; font-size: 30px;"></i>
                                </td>
                                <td class="text-center ">
                                    <i class="mdi  mdi-calendar-remove" (click)="mostrarPeriodosVacaVender(trab)" aria-hidden="true" style="cursor: pointer; font-size: 30px;"></i>
                                </td>
                                <td class="text-center ">
                                    <i class="mdi  mdi-calendar-clock" (click)="mostrarPeriodosVacaAdelantar(trab)" aria-hidden="true" style="cursor: pointer; font-size: 30px;"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="nav-honorario" role="tabpanel" aria-labelledby="nav-honorario-tab">
            <div class="col-12 ">
                <div [hidden]="lsTrabajadorHonorario?.length > 0" >
                    <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                        No hay registro de trabajadores
                    </div>
                </div>
                <div [hidden]="lsTrabajadorHonorario?.length == 0" class="table-responsive ">
                    <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                        <thead style="background: #ebeff5; ">
                            <tr>
                                <th class="text-center">Numero Documento</th>
                                <th class="text-center">Apellidos y Nombre</th>
                                <th class="text-center">Tomar Vacaciones</th>
                                <th class="text-center">Vender Vacaciones</th>
                                <th class="text-center">Adelantar Vacaciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let trab of lsTrabajadorHonorario | filter :filterPost :filterBoolean">
                            <tr style="font-size: 12px">
                                <td class="text-center">{{trab.trabajador.nroDoc}}</td>
                                <td>{{trab.trabajador.apePater}} {{trab.trabajador.apeMater}} {{trab.trabajador.nombres}}</td>
                                <td class="text-center ">
                                    <i class="mdi  mdi-calendar-check" (click)="mostrarPeriodosVacaTomar(trab)" aria-hidden="true" style="cursor: pointer; font-size: 30px;"></i>
                                </td>
                                <td class="text-center ">
                                    <i class="mdi  mdi-calendar-remove" (click)="mostrarPeriodosVacaVender(trab)" aria-hidden="true" style="cursor: pointer; font-size: 30px;"></i>
                                </td>
                                <td class="text-center ">
                                    <i class="mdi  mdi-calendar-clock" (click)="mostrarPeriodosVacaAdelantar(trab)" aria-hidden="true" style="cursor: pointer; font-size: 30px;"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>