<div class="modal-header">
    <h3>Registrar Postulante</h3>
</div>
<div class="modal-body">
    <div style="margin-top: 10px;">
        <h6>Datos Personales</h6>
    </div>
    <div style="border: 1px solid #d9d9d9; padding: 20px; border-radius: 20px;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nombres: </label>
                <input type="text" class="form-control" id="name" [(ngModel)]="postulante.nombres" name="#postulante.nombres" required >
            </div>

            <div class="form-group col-md-6">
                <label for="password">Tipo Documento: </label>
                <ng-select [items]="lsTipoDoc" bindLabel="descripcion" bindValue="idTipoDoc" placeholder="T. Doc." id="tdoc" [(ngModel)]="postulante.tipoDoc.idTipoDoc" style="width: 100%; margin-right: 10px;" required></ng-select>
                <!-- <ng-select id="password" [(ngModel)]="postulante.id_tipo_doc" style="width: 100%; margin-right: 10px;" required></ng-select> -->
            </div>

        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="apepa">Apellido Paterno: </label>
                <input type="text" class="form-control" id="apepa" [(ngModel)]="postulante.ape_paterno">
            </div>
            <div class="form-group col-md-6">
                <label for="nrodoc">Nro Documento: </label>
                <input type="text" class="form-control" id="nrodoc" [(ngModel)]="postulante.nro_documento">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="apema">Apellido Materno: </label>
                <input type="text" class="form-control" id="apema" [(ngModel)]="postulante.ape_materno">
            </div>
            <div class="form-group col-md-6">
                <label for="telefono">Telefono: </label>
                <input type="number" class="form-control" id="telefono" [(ngModel)]="postulante.telefono">
            </div>
        </div>

        <div class="form-row">

            <div class="col-6" style="margin-top: 10px;">
                <label>Fecha Nacimiento</label>
                <div style="width: 150px;">
                    <ejs-datepicker format='dd-MM-yyyy' type="datepicker" required [(ngModel)]="postulante.fecha_nacimiento"> </ejs-datepicker>
                </div>
            </div>


            <div class="form-group col-md-6" style="margin-top: 10px;">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo"  [(ngModel)]="postulante.correo">
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <h6>Datos Profesionales</h6>
    </div>
    <div style="border: 1px solid #d9d9d9; padding: 20px; border-radius: 20px;">
        <div class="form-row col-12">
            <div class="col-6 mb-3">
                <div class="row">
                    <label for="timeexp">Tiempo de Experiencia : </label>
                    <div id="timeexp" class="col-12" style="padding-left: 0px; display: flex;">
                        <input type="text" class="form-control col-3" style="margin-right: 10px; width: 129px;" [(ngModel)]="postulante.tiempo_experiencia">
                        <div class="col-6">
                            <ng-select id="unitiempo" [items]="lsUnidadTiempo" bindLabel="desc" bindValue="id" placeholder="U. Tiempo" style="width: 105%; margin-right: 10px;" [(ngModel)]="postulante.unidad_tiempo" required></ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label for="nivestu">Nivel de Estudio : </label>
                <ng-select [items]="lsNivelEdu" bindLabel="descripcion" bindValue="idNivelEdu" placeholder="N. Edu" id="nedu" [(ngModel)]="postulante.nivelEdu.idNivelEdu" name="#nivedu" style="width: 100%; margin-right: 10px;" required></ng-select>
            </div>
        </div>

        <div class="form-row">

            <div class="col-6">
                <label>Pretension Economica</label>
                <div style="width: 150px;">
                    <input type="text" class="form-control" id="apepa" style="width: 180px;" [(ngModel)]="postulante.pretension">
                </div>
            </div>


            <div class="form-group col-md-6">
                <label for="profesion">Profesion: </label>
                <ng-select [items]="lsOcupacion" bindLabel="descripcion" bindValue="idOcupacion" placeholder="Ocupación" id="ocu" [(ngModel)]="postulante.ocupacion.idOcupacion" name="#ocupacion" style="width: 100%; margin-right: 10px;"></ng-select>
            </div>
        </div>

        <div class="form-group row">
            <label for="comentario" class="col-sm-2 col-form-label" style="margin-top: 10px;">Comentarios</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="comentario" rows="3" style="margin-top: 10px; height: 150px;" [(ngModel)]="postulante.comentarios"></textarea>
                <!-- <input type="text" class="form-control" id="comentario" style="margin-top: 10px;height: 180px; "> -->
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button (click)="close()" id="cerrar" type="button " class="btn btn-danger btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
    <button (click)="continuar()" type="button " id="confirmar" class="btn btn-info btn-sm min " style="margin: 0px 5px; ">Continuar</button>
</div>