<hr>
<div [hidden]="empresa!=null" >
    <div style="text-align: center; font-size: 22px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
        Seleccione una empresa
    </div>
</div>
<div [hidden]="empresa==null" class="card-header" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 10px; margin: 20px;">
    <div class="col-12 row" style="margin: 0;">
        <div class="col-5" style="margin-bottom: 10px">
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="numDoc" style="font-size: 12px">Filtrar Por Descripcion</label>
                </div>
            </div>
            <div class="col-10" style="margin-left: 2%;">
                <input class="form-control form-control-sm min" spellcheck="false" id="inputTipoPerfil" style="border-radius: 28px" maxlength="50" [(ngModel)]="namePerfil" (click)="namePerfil=''">
            </div>
        </div>
        <div class="col-4 row" style="padding-top: 15px;" *ngIf="empresa">
            <div class="form-group col-4 mb-3">
                <button class="btn btn-sm btn-info" id="nuevo" (click)="registrar()" style="width: auto; border-radius: 28px; padding: 4px 10px;">Nuevo Tipo Planilla</button>
            </div>
        </div>
        <div class="col-3 row" style="padding-top: 15px;" *ngIf="empresa">
            <div class="form-group col-8 mb-3" >
                <button class="btn btn-sm btn-info" id="generarExcel" (click)="generarAsistenciaMasiva()"  style="width: auto; border-radius: 28px; padding: 4px 10px; margin-left: 100px;">Generar Asistencia Masiva</button>
            </div>
        </div>
    </div>
</div>
<div [hidden]="empresa==null" class="col-12">
    <div [hidden]="lstipoPlanilla?.length > 0" >
        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
            No hay ningun tipo de planilla registrado
        </div>
    </div>
    <div [hidden]="lstipoPlanilla?.length == 0" class="table-responsive">
        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Categoria</th>
                    <th class="text-center">Asignar Perfiles</th>
                    <th class="text-center">Asignar Trabajadores</th>
                    <th class="text-center">Generar Asistencia</th>
                    <th class="text-center">Modificar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let tipPlan of lstipoPlanilla  | filterPerfil :namePerfil">
                <tr style="font-size: 12px" >
                    <td class="text-center">{{tipPlan.descripcion}}</td>
                    <td class="text-center">{{tipPlan.categoriaPlanilla==4?'4ta':'5ta'}}</td>
                    <td class="text-center">
                        <i class="mdi mdi-account" id="asignar" aria-hidden="true" (click)="asignarPerfiles(tipPlan)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center">
                        <i class="mdi mdi-account-check" aria-hidden="true" (click)="asignarTrabajadores(tipPlan)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center">
                        <i class="mdi mdi-file-excel" aria-hidden="true" (click)="generarAsistencia(tipPlan)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center">
                        <i class="mdi mdi-pencil" id="actualizar" aria-hidden="true" (click)="modificar(tipPlan)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center">
                        <i class="mdi mdi-delete" id="borrar" aria-hidden="true" (click)="eliminar(tipPlan)" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>