<form #formAdeSueldo="ngForm" ngNativeValidate>

    <div class="modal-header">
        <h5 class="modal-title">Solicitud adelando de sueldo</h5>
    </div>

    <div *ngIf="impedirSol" class="form-row col-12" style="margin: 0 auto;">

        <div *ngIf="!denegarSol" class="col-6 custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1" (click)="impedirSol=false;">
            <label style="font-size: 15px" class="custom-control-label" for="customCheck1">¿Realizar excepcion?</label>
        </div>

        <div *ngIf="denegarSol" class="col-10 mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1" disabled>
            <label style="font-size: 15px" class="custom-control-label" for="customCheck1">Cuenta con demasiadas deudas pendientes</label>
        </div>

        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Monto Total</th>
                    <th class="text-center">Cuotas</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Fecha Solicitud</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr style="font-size: 12px" *ngFor="let deuda of lsDeuda">
                    <td>{{deuda.tipo==1?'Proporcional':'Emergencia'}}</td>
                    <td>{{deuda.montoTotal.toFixed(2)}}</td>
                    <td>{{deuda.nroCuotas}}</td>
                    <td *ngIf="deuda.estado==0"> <i class="mdi mdi-emoticon-neutral" aria-hidden="true" style="cursor: pointer; font-size: 20px; color: #F5E40B;"></i></td>
                    <td *ngIf="deuda.estado==1"> <i class="mdi mdi-emoticon" aria-hidden="true" style="cursor: pointer; font-size: 20px; color: #19E422 ;"></i></td>
                    <td>{{deuda.fechaSol | date :'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--  -->
    <div class="modal-body" *ngIf="!impedirSol">
        <div class="row">
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="ano">Año de la solicitud :</label>
                    <ng-select style="width: 100%;" [items]="lsAno" bindLabel="descripcion" id="ano" name="#ano.idPdoAno" bindValue="idPdoAno" placeholder="seleccione" [(ngModel)]="ano.idPdoAno" required></ng-select>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for id="mes">Mes de la solicitud  :</label>
                    <ng-select style="width: 100%;" [items]="lsMeses" bindLabel="descripcion" id="mes" name="#mes.idPdoMes" bindValue="idPdoMes" placeholder="seleccione" [(ngModel)]="mes.idPdoMes" required></ng-select>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="tipoad">Tipo Adelanto Sueldo: </label>
                    <ng-select [items]="lsTipoAdeSue" bindLabel="descripcion" bindValue="id" name="#tipoAdeSue" [(ngModel)]="tipoAdeSue" placeholder="Seleccione Tipo" id="tipoad" style="width: 100%; margin-right: 10px;"></ng-select>
                </div>
            </div>
            <div *ngIf="tipoAdeSue==1" class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="varmontt">Monto :</label>
                    <input class="form-control form-control-sm" type="number" id="varmontt" name="#montoTotal" [ngModel]="montoTotal.toFixed(1)" disabled required>
                </div>
            </div>
            <div *ngIf="tipoAdeSue!=1" class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="montt">Monto :</label>
                    <input class="form-control form-control-sm" type="number" id="montt" name="#adeSue.montoTotal" [(ngModel)]="adeSue.montoTotal" onclick="document.getElementById('nroc').value=''" required>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="nroc">Cuotas :</label>
                    <input class="form-control form-control-sm" type="text" id="nroc" name="#adeSue.nroCuotas" (ngModelChange)="calcular($event)" [(ngModel)]="adeSue.nroCuotas" required>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="pagom">Pago mensual: </label>
                    <input class="form-control form-control-sm" type="number" id="pagom" name="#pagoMensual" [ngModel]=pagoMensual.toFixed(2) disabled required>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button *ngIf="!impedirSol" [disabled]="formAdeSueldo.form.invalid" (click)="setearDatos()" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>