<div class="row page-titles">
    <div style="width: 100%; margin:0px 1%">
        <div class="float-left">
            <i [class]="icono" style="font-size: 35px;"></i>
            <span class="text-themecolor">{{label}}</span>
        </div>
        <!-- <div class="float-right">
            <i class="mdi mdi-clock-end" style="font-size: 35px;"></i>
            <span><countdown class="text-themecolor" [config]="config" (finished)="onFinished()" (notify)="onNotify($event)"></countdown></span>
        </div> -->
    </div>
</div>