<div class="table-responsive">
    <table class="table">

        <tr>
            <th style="width: 283px;">PUESTO</th>
            <th>FECHA</th>
            <th>POSTULANTES</th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
        </tr>
        <tr>
            <td>Analista Funcional</td>
            <td>15/02/2020</td>
            <td>12</td>
            <td>Abierto</td>
            <td>
                <i class="fa fa-eye"></i>
                <i class="fa fa-user-plus" (click)="NuevoReclutamiento()" style="cursor: pointer; margin-left: 10px;"></i>
            </td>
        </tr>

    </table>


</div>